<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-server"></i>
                </div>
                <span class="b-title">PZServer Manager</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="Mods" class="nav-item">
                    <a href="/" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">Mods</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
